<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <img style="height: 40px;" src="../assets/logo.jpg">
        <mat-card-header>
            
            <mat-card-title>SignIn</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username" type="text" name="username"
                        [(ngModel)]="user.username">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" type="text" name="email"
                        [(ngModel)]="user.email">
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password" type="text" name="password"
                        [(ngModel)]="user.password">
                </mat-form-field>

            </mat-card-content>

            <button mat-stroked-button  class="btn-block"
                [disabled]="registerForm.pristine || registerForm.invalid " class="btn ">SignIn</button>

        </form>
    </mat-card>
</div>
<app-footer></app-footer>